
{% block body %}

    <section class="section">
        <header>
            <h3>{{ 'recent_posts'|trans({}, 'sidebar') }}</h3>
        </header>
        <p class="tags">
        {{ 'recent_posts_text'|trans({}, 'sidebar') }}
        </p>
    </section>

    <section class="section">
        <header>
            <h3>{{ 'recent_comment'|trans({}, 'sidebar') }}</h3>
        </header>
        <p class="tags">
            {{ 'recent_comment_text'|trans({}, 'sidebar') }}
        </p>
    </section>

    <section class="section">
        <header>
            <h3>{{ 'recent_tag_cloud'|trans({}, 'sidebar') }}</h3>
        </header>
        <p class="tags">
            {{ 'recent_tag_cloud_text'|trans({}, 'sidebar') }}
        </p>
    </section>

    <section class="section">
        <header>
            <h3>{{ 'site_visitors'|trans({}, 'sidebar') }}</h3>
        </header>
        <p class="tags">
            {{ 'site_visitors_text'|trans({}, 'sidebar') }}{{ 'title'|trans({}, 'sidebar') }}
        </p>
    </section>

    {# Below we have the project version showing. Try to keep at the bottom #}
    <section class="section">
        <header>
            <h3>ContentCove CMS</h3>
        </header>
        <p>
            <span class="tags">{{ 'contentcove_version'|trans({}, 'sidebar') }}</span>  {{ shivas_app_version }}
        </p>
    </section>

{% endblock %}