<h1>{{ 'please_confirm_email'|trans({}, 'user') }}</h1>

<p>
   {{ 'confirm_by_click'|trans({}, 'user') }}: <br><br>
    <a href="{{ signedUrl|raw }}">{{ 'confirm_my_email'|trans({}, 'user') }}</a>.
    {{ 'link_expire'|trans({}, 'user') }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {{ 'nice_goodbye'|trans({}, 'user') }}
</p>
